.Floating-container {
    position: fixed;
    top: 0;
    z-index: 999999;
}

.Floating-container .Background {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.24);
    backdrop-filter: blur(2px);
}

.Floating-container .CenterDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}